.layout {
  overflow: hidden;
}

.menu {
  padding: 2px;
  min-height: 32px;
  border-bottom: 1px solid #eee;
}

.menu-buttons {
  margin: 0;
}

.form {
  form {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    section {
      text-align: right;
      button {
        margin-left: 5px;
      }
    }
  }
}

.chat {
  position: fixed;
  bottom: 2px;
  right: 2px;
  .chat-now-btn {
    float: right;
  }
  @media screen and (max-width: 480px) {
    width: 100%;
  }
  .panel {
    margin-bottom: 0;
    @media screen and (max-width: 480px) {
      button {
        display: block;
      }
    }
  }
  .chat-input {
    resize: none;
    min-width: 320px;
    width: 100%;
  }

  .conversation-box {

    overflow-y: scroll;
    height: 200px;

    .alert {
      padding: 10px 18px;
      margin: 0;
    }

    .bubble-wrapper {
      display: block;
    }

    .bubble {
      background-color: #F2F2F2;
      border-radius: 5px;
      box-shadow: 0 0 6px #B2B2B2;
      display: inline-block;
      padding: 10px 18px;
      position: relative;
      vertical-align: top;
      word-wrap: break-word;
      max-width: 150px;
    }

    .bubble::before {
      background-color: #f2f2f2;
      content: "\00a0";
      display: block;
      height: 16px;
      position: absolute;
      top: 11px;
      transform: rotate(29deg) skew(-35deg);
      -moz-transform: rotate(29deg) skew(-35deg);
      -ms-transform: rotate(29deg) skew(-35deg);
      -o-transform: rotate(29deg) skew(-35deg);
      -webkit-transform: rotate(29deg) skew(-35deg);
      width: 20px;
    }

    .me {
      float: left;
      margin: 5px 45px 5px 20px;
    }

    .me::before {
      box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, .4);
      left: -9px;
    }

    .you {
      background-color: $brand-primary;
      color: #fff;
      float: right;
      margin: 5px 20px 5px 45px;
    }

    .you::before {
      background-color: $brand-primary;
      box-shadow: 2px -2px 2px 0 rgba(178, 178, 178, .4);
      right: -9px;
    }

  }

}