$brand-primary-dark: darken($brand-primary, 40%);
$brand-info-dark: darken($brand-info, 50%);

// background

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.layout {
  position: relative;
  .bg {
    overflow: hidden;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid: repeat(5, 200px) / repeat(10, 1fr);
    transform-origin: 0;
    .bg-line {
      opacity: 0.1;
      @include gradient-vertical($brand-primary, #fff, 20%, 100%);
      border-radius: 60px;
    }
    :nth-child(1) {
      grid-column: span 3;
      transform: skewX(-35deg);
    }
    :nth-child(2) {
      grid-area: 3 / span 3 / auto / -1;
      transform: skewX(12deg);
    }
    :nth-child(3) {
      grid-row: 4;
      grid-column: span 5;
      transform: skewY(-35deg);
    }
  }
}

hr {
  border-color: $brand-success;
  margin: 0px 0px 15px 0px;
}

// front page ad

.ad {
  text-align: center;
  position: relative;
  padding: 20px;
  border-radius: $border-radius-base;
  margin-bottom: 15px;
  color: #888;
}

.ad:before {
  z-index: -1;
  position: absolute;
  border-radius: $border-radius-base;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: ' ';
  opacity: 0.5;
}

// panel styles

.panel-default {
  position: relative;
  border-color: #ddd;
  background-color: transparent;
  .panel-heading {
    background-color: $brand-primary;
    padding: 10px;
    .panel-title {
      color: #fff;
    }
  }
  .panel-body {
    background-color: transparent;
  }
}

.panel-default:before {
  @include box-shadow(0 0 10px #aaa);
  background: #fff;
  z-index: -1;
  position: absolute;
  border-radius: $border-radius-base;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: ' ';
  opacity: 0.5;
}

.panel-special {
  background: transparent;
  border: none;
}

.panel {
  @include box-shadow(none);
}

.panel-heading {
  border-color: transparent !important;
}

.panel-special > .panel-heading {
  .panel-title {
    color: $brand-primary;
  }
  .panel-body {
    border: none;
  }
  background: transparent;
}

.panel-info {
  > .panel-heading {
    color: $brand-info-dark !important;
  }
  button.close {
    color: $brand-info-dark !important;
  }
}

.panel {
  position: relative;
}

.panel-special.panel:before {
  background-color: #fff;
  border: 1px solid $brand-primary;
  z-index: -1;
  position: absolute;
  border-radius: $border-radius-base;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: ' ';
  opacity: 0.7;
}

// logos

.logo {
  color: $brand-success;
  height: 35px;
  margin: 0 15px 15px 15px;
  font-size: 36px;
  font-weight: bold;
  &.small {
    font-size: 18px;
    margin: 0;
    height: 18px;
    margin-top: 15px;
  }
}

// forms

form {
  section {
    .btn {
      margin-left: 2px;
    }
  }
}

.form-control {
  @include box-shadow(0px 0px 0px 1px $brand-primary !important);
  border: none;
  &:focus {
    border: none;
  }
}

// buttons

.btn-info {
  color: $brand-info-dark;
  &:focus {
    color: $brand-info-dark !important;
  }
  &:hover {
    color: $brand-info-dark !important;
  }
  .glyphicon {
    color: $brand-info-dark;
  }
}

// navigation

.nav-menu {
  margin: 5px 15px 15px 15px;
  .nav > li > a:hover, .nav > li > a:focus {
    background: $brand-success;
    color: #fff;
  }
  .glyphicon {
    font-size: 18px;
    vertical-align: top;
  }
}

.user-menu {
  position: absolute;
  right: 15px;
  top: 15px;
  .glyphicon {
    color: $brand-primary;
  }
}

.dropdown-menu {
  border-color: $brand-success;
  .glyphicon {
    color: $brand-success;
  }
  @include box-shadow(none);
  @media screen and (max-width: 480px) {
    width: 350px;
  }
  li[role=presentation] {
    padding: 2px 0 2px 0 !important;
    color: $brand-primary;
    a {
      color: #999 !important;
      padding: 10px;
      &:focus {
        border-color: transparent !important;
      }
    }
  }
}

.dropdown-toggle {
  .caret {
    color: $brand-primary;
  }
  border-color: $brand-primary;
  background-color: #fff !important;
  @include box-shadow(none !important);
  &:active {
    background-color: #fff !important;
    border-color: $brand-success;
  }
  &:hover, &:focus {
    border-color: $brand-success !important;
    background-color: #fff !important;
    .glyphicon {
      color: $brand-success;
    }
    .caret {
      color: $brand-success;
    }
  }
}

.open {
  .dropdown-toggle {
    .caret {
      color: $brand-success;
    }
    border-color: $brand-success !important;
    .glyphicon {
      color: $brand-success;
    }
  }
}

// focus

a {
  //border: 2px solid transparent !important;
}

section {
  > a, a:focus {
    border: none !important;
  }
}

// focus

*:focus {
  -webkit-appearance: none;
  outline: none !important;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea {
  -webkit-appearance: none;
  outline: none !important;
  //border: 2px solid $brand-success !important;
  @include box-shadow(0px 0px 0px 1px $brand-primary !important);
  &:focus {
    -webkit-appearance: none;
    outline: none !important;
    //border: 2px solid $brand-success !important;
    @include box-shadow(0px 0px 0px 1px $brand-success !important);
  }
}

.has-error {
  .form-control {
    @include box-shadow(0px 0px 2px 2px $brand-danger !important);
    &:focus {
      @include box-shadow(0px 0px 2px 2px $brand-danger !important);
    }
  }
}

select {
  //font-size: 16px !important;
  -webkit-appearance: none;
}

select:focus {
  //font-size: 16px !important;
}

.btn-primary {
  &:focus {
    background-color: $brand-success;
    border-color: $brand-success;
  }
}

.btn-secondary {
  &:focus {
    text-decoration: underline;
  }
}

// home view

.home-body {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.home-mid {
  flex-direction: column;
  display: flex;
  flex: 0;
  min-width: 290px;
  margin-left: 15px;
  @media screen and (max-width: 767px) {
    margin-left: 0;
  }
}

.home-content {
  flex-direction: column;
  display: flex;
  flex: 1;
}

// account view

.account-body {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.account-left {
  flex-direction: column;
  display: flex;
  flex: 0;
  min-width: 170px;
}

.account-content {
  flex-direction: column;
  display: flex;
  flex: 1;
}

.card-product {
  color: $brand-primary;
}

.card-detail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: flex-end;
}

.card-detail-item {
  flex-direction: row;
  flex: 1;
  margin-right: 5px;
  min-width: 250px;
  .panel-title {
    white-space: nowrap;
  }
}

// enroll

.registration-form {
  max-width: 480px;
}

// chat

$bot-bubble-color: $brand-success;
$bot-bubble-font-color: #fff;
$bubble-shadow: #aaa;

.chat {
  position: fixed;
  top: 0px;
  width: 100%;
}

.chat-now-btn {
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: 0;
  opacity: 0.8;
  border-radius: 0;
  //float: right;
}

.chat-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  .panel-heading {
    background-color: #fff !important;
    color: $brand-primary;
  }
  .panel-body {
    background-color: #fff !important;
    margin: 0;
    padding: 0 4px 4px 4px;
    border-bottom: 1px solid $brand-primary;
  }
  .form-group {
    margin: 0;
  }
}

.chat-input {
  resize: none;
  width: 100%;
  min-width: 290px;
  border-radius: 0;
  font-size: 16px;
}

.conversation-box {
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  height: 200px;
  margin-bottom: 5px;
  border-radius: 0;

  .bubble-wrapper {
    display: block;
    font-size: 16px;
  }

  .bubble {
    background-color: $bot-bubble-color;
    color: $bot-bubble-font-color;
    border-radius: 5px;
    @include box-shadow(0 0 6px $bubble-shadow);
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
    word-wrap: break-word;

  }

  .bubble::before {
    background-color: $bot-bubble-color;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform: rotate(29deg) skew(-35deg);
    -moz-transform: rotate(29deg) skew(-35deg);
    -ms-transform: rotate(29deg) skew(-35deg);
    -o-transform: rotate(29deg) skew(-35deg);
    -webkit-transform: rotate(29deg) skew(-35deg);
    width: 20px;
  }

  .me {
    float: left;
    margin: 5px 45px 5px 20px;
  }

  .me::before {
    @include box-shadow(-2px 2px 2px 0 rgba(178, 178, 178, .4));
    left: -9px;
  }

  .you {
    background-color: $brand-primary;
    color: #fff;
    float: right;
    margin: 5px 20px 5px 45px;
  }

  .you::before {
    background-color: $brand-primary;
    @include box-shadow(2px -2px 2px 0 rgba(178, 178, 178, .4));
    right: -9px;
  }

}


